@font-face {
  font-family: jetbrains;
  src: url("https://new.nyabyte.dev/JetBrains.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: jetbrains;
  overflow: hidden;
}

html,
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
  width: 100%;
}
