@font-face {
  font-family: jetbrains;
  src: url("https://new.nyabyte.dev/JetBrains.ttf");
}

* {
  font-family: jetbrains;
  overflow: hidden;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
