.windowlayout {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.windowlayout.horizontal {
  flex-direction: row;
}

.windowframe {
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
  backdrop-filter: blur(5px);
  background: var(--window-bg);
  transition-property: background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  padding: 10px;
}

.windowtitle {
  color: #fff;
  padding: 5px;
  width: 100%;
  transition: text-shadow 0.3s ease-in-out;
}

.windowtitle.focused {
  text-shadow: 0 0 5px black;
  border-radius: 5px;
}

.windowcontent {
  flex: 1;
  padding: 10px;
  color: white;
  border-radius: 5px;
  background-color: var(--window-content-bg, transparent);
}

.windowframe canvas {
  flex: 1;
}
